body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  border-radius: 0;
}

:root {
  --bg-color: rgba(150, 150, 150, 1);
  --border-left-color: rgba(255, 255, 255, 0.05);
  --border-top-color: rgba(255, 255, 255, 0.10);
  --border-right-color: rgba(0, 0, 0, 0.025);
  --border-bottom-color: rgba(0, 0, 0, 0.05);
  --color-0: #eaeaea;
  --color-1: #ff0000;
  --color-2: #fce03e;
  --color-3: #00ff00;
  --color-4: #66ccff;
  --color-5: #0000ff;
  --color-6: #6215de;
  --color-7: #cc00ff;
  --button-color-l: rgba(222, 222, 222, 0.05);
  --button-color-t: rgba(200, 200, 200, 0.1);
  --button-color-r: rgba(150, 150, 150, 0.25);
  --button-color-b: rgba(120, 120, 120, 0.35);
  --cols: 10;
  --rows: 18;
  --tile-size: 30px;
  --border-width: 5px;
}

.color-0 {
  background-color: var(--color-0);
}
.color-1 {
  background-color: var(--color-1);
}
.color-2 {
  background-color: var(--color-2);
}
.color-3 {
  background-color: var(--color-3);
}
.color-4 {
  background-color: var(--color-4);
}
.color-5 {
  background-color: var(--color-5);
}
.color-6 {
  background-color: var(--color-6);
}
.color-7 {
  background-color: var(--color-7);
}

.grid-square {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}
.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  grid-area: c;
}
.next-block {
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: l;
}
.score-board {
  display: flex;
  flex-direction: column;
  grid-area: r;
  font-size: 15px;
}
.score-board div {
  padding: 5px;
}
.score-board-button {
  display: block;
  height: 50px;
  width: 100px;
  margin: 1em;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border-width: 5px;
  border-radius: 1px;
  border-left-color: var(--button-color-l);
  border-top-color: var(--button-color-t);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}
.App-header {
  grid-area: h;
}

.App {
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * 10);
  --grid-height: calc(var(--tile-size) * 18);
  width: calc(var(--tile-size) * (4 + 1 + 10 + 1 + 4));
  margin: auto;
  display: grid;
  grid-gap: var(--tile-size) var(--tile-size);
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  grid-template-rows: 100px var(--grid-height) 100px;
  grid-template-areas:  "h h h"
                        "l c r"
                        ". b .";
}

.controls {
  grid-area: b;
  display: flex;
  flex-direction: row;
}
.control-button {
  --size: calc(var(--tile-size) * 2.5);
  width: var(--size);
  height: var(--size);
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 9px;
  display: block;
  border-width: 5px;
  border-left-color: var(--button-color-l);
  border-top-color: var(--button-color-t);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

.message-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--tile-size) * 10);
  height: calc(var(--tile-size) * 10);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.message-popup.hidden {
  display: none;
}